<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit User</h5>
        </div>
        <div class="modal-body">
            <form th:action="@{/admin/saveEditedUser/{id}(id=${user.id})}" th:object="${user}" method="post">
                <input type ="hidden" th:field="*{id}"/>
                <label>Username</label>
                <input type ="text" th:field="*{username}"/>
                <br><br>
                <label>First_Name:</label>
                <input type="text" th:field="*{firstName}" id="FirstName" />
                <br><br>
                <label>Last_Name:</label>
                <input type="text" th:field="*{lastName}" id="LastName" />
                <br><br>
                <label>Salary:</label>
                <input type="number" th:field="*{salary}" id="salary" />
                <br><br>
                <label>Department:</label>
                <input type="text" th:field="*{department}" id="department" />
                <br><br>
                <label>User Role:</label>
                <input type="text" th:field="*{roles}" id="user role" />
                <br><br>
                <label>Password:</label>
                <input type="text" th:field="*{password}" id="user password" />
                <br><br>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="/admin" class="btn btn-secondary">Close</a>
        </div>
    </div>
</div>
</body>
</html>